@page "/details/{U_id}/{I_id}/";
@using Item;

@if (Item != null) {
     <div class="row mx-auto col-sm-7 p-0">
          <div class="col-sm p-0">
               <img src="@Item.imageURL" alt="@Item.itemName" width="300" height="400" />
          </div>
          <div class="col-sm p-0">
               <h3>@Item.itemName</h3>
               <p>@Item.category</p>
               <p>@Item.description</p>
          </div>
     </div>
}

@code {
     [Parameter]
     public string U_id { get; set; }

     [Parameter]
     public string I_id { get; set; }

     ItemsResponseBody Item;

     protected async override void OnParametersSet() {
          string itemId = System.Text.Encoding.UTF8.GetString(Convert.FromBase64String(I_id));
          Item = await FindItem.findItem(itemId);
     }
}